* {
  margin: 0;
  padding: 0;
}

header,
main,
footer,
nav,
section {
  display: block; /* מגדירים את כל האלמנטים האלה כאל בלוק */
}

a{
    text-decoration: none;
}

header {
    width: 100%;
    margin-top: 76px;
}

#logo {
  display: block;
  height: 88px;
  width: 88px;
  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#logo span{
    font-family: tahoma;
    padding-left: 110px;
    color: #222222;
    font-size: 60px;
}